.imagesize {
    object-fit: cover;
    height: 220px;
    min-width: 150px;
    max-width: 300px;
    border-radius: 0.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentAlign{
    display: flex;
}

.detail {
    background-color: beige;
    border: 1px solid black;
    border-radius: 1em;
    width: fit-content;
    margin: auto;
    max-width: 900px;
    min-width: 600px;
    margin-top: 5px;
    text-align: left;
    padding: 10px;
}

.paddiv {
   padding-bottom: 20px; 
}

.name {
    text-align: center;
}

.scores{
    margin: 70px -150px 20px 28px;
    
}

.items{
    margin: 16px 20px;
    line-height: 2em;
    padding: 1px 10px;
    background-color:rgba(250, 128, 114, 0.233);
    border-radius: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none
}

.centerbtn {
    display:block;
    margin-left: auto;
    margin-right:auto;
    border-radius: 1em;
    cursor: pointer;
    border: 1px solid black;
    height: 30px;
    width: 70px;
}


.centerbtn:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.09) 0 0);
    font-weight: bold;
}