
.big_container{
    padding-bottom: 20px;
}

.bg {
    background-color: beige;
    border: 1px solid black;
    border-radius: 1em;
    width: fit-content;
    margin: auto;
    max-width: 500px;
    margin-top: 10px;
}

.elements {
    margin-bottom: 10px;
}

.image{
    object-fit: cover;
    height: 120px;
    min-width: 150px;
    max-width: 300px;
}

.areas {
    width: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.danger{
    color: red;
    font-size: 0.8em;
}

.justify{
    display:flex;
    flex-wrap: wrap;
    margin: 15px 0px 15px 100px;
}

.align_diet{
    width: 170px;
    text-align: left;
}

.specificButton { 
    justify-content: center;
    cursor:pointer;
    margin-bottom: 10px;
}