ul.nav {
    padding-left: 0px;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 5px 10px;
  }
  
  ul.nav > li > button {
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    height: 25px;
    width: 32px;
  }

  ul.nav > li > button:hover{
    opacity: 0.7;
  }

  .coloredButton {
    cursor:default;
    background-color: purple;
    color: white;
  }