.searchBar {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height:30px;
    margin-left: 62.7em;
    margin-top: 12px;
    
}

.button{
    border-radius: 0.6em; 
}

.search {
    margin-right: 0.5em;
    border-radius: 0.6em;
}